@font-face {
    font-family: "buttonFont";
    src: url('~assets/Helvetica Neue/Helvetica-Neue-2.ttf') format("truetype");
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style: none;
}
