/**
* colors
**/
$--color-primary: #24526d;
$--color-active: #c17044;
$--color-secondary: #0d1c29;
$--color-bright-orange: #f0d7ab;
// $--color-accent: #00417b;
// $--color-mustard: #ffa726;
// $--color-danger: #ef5350;
// $--color-text-grey: #333;
// $--color-grey: #c9c9c9;
// $--color-white: #fff;
// $--color-carousel-dot: rgba(#005bac, 0.3);
// $--color-background-yellow: #fbf3e0;
// $--color-background-blue: #b6d1e8;
// $--color-background-orange: #f5c4a5;
// $--color-background-pink: #fbd7da;
// $--color-input-border: #606060;

/**
* breakpoints
**/
$--breakpoints-xs: 600px;
$--breakpoints-sm: 960px;
$--breakpoints-md: 1264px;
$--breakpoints-lg: 1904px;

/* device */
$--breakpoints-mobile-xs: 320px;
$--breakpoints-tablet: 768px;
$--breakpoints-ipad-pro: 1024px;
